APP_ENV=dev
APP_DEBUG=true
APP_SECRET=38d3afa59aa84f5e00339ff0acbb84eb

DIMKINTHEPRO_JWT_AUTH_PUBLIC_KEY=%kernel.project_dir%/var/dimkinthepro/jwt-auth-bundle/public.pem
DIMKINTHEPRO_JWT_AUTH_PRIVATE_KEY=%kernel.project_dir%/var/dimkinthepro/jwt-auth-bundle/private.pem
DIMKINTHEPRO_JWT_AUTH_PASSPHRASE=df5a20543ad96912f85d90ed76ebf684
